<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Aleum</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>자신의 프로필 사진을 촬영하여 올릴 때 필요합니다. 알음&apos;이(가)  카메라를(을) 사용할 수 있도록 허용하시겠습니까?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>&apos;알음&apos;이(가) 사용자의 위치를 사용하도록 허용하겠니까?
가까운 교회를 검색하여 제공하기 위해 현재 위치를 확인합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>&apos;알음&apos;이(가) 사용자의 위치를 사용하도록 허용하겠니까?
가까운 교회를 검색하여 제공하기 위해 현재 위치를 확인합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&apos;알음&apos;이(가) 사용자의 위치를 사용하도록 허용하겠니까?
가까운 교회를 검색하여 제공하기 위해 현재 위치를 확인합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 및 교회,상품안내 이미지 등록을 위하여 필요합니다.  알음&apos;이(가)  사진을() 사용할 수 있도록 허용하시겠습니까?</string>
	<key>UIAppFonts</key>
	<array>
		<string>AppleGothic.ttf</string>
		<string>NanumSquareRoundEB.ttf</string>
		<string>NanumSquareOTFR.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
